<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jetledger</string>
			</array>
		</dict>
	</array>
	<key>JetLedgerAPIURL</key>
	<string>$(JETLEDGER_API_URL)</string>
	<key>NSCameraUsageDescription</key>
	<string>JetLedger needs camera access to scan receipts.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>JetLedger uses Face ID for faster sign-in.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>JetLedger needs photo library access to import receipt images.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
